* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Optima, sans-serif;
}

/* CHOOSE FONT FOR ENTIRE APP or 1 FOR TITLE, 1 FOR TEXT */
/* Didot, serif; */

body {
  max-width: 100%;
  max-height: 667px;
}

a:link {
  margin: 0%;
  padding: 0%;
}

ul {
  list-style: none;
}

/* SIGN UP/IN & RESET VIEWS */
.logIn {
  text-align: center;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 50%;
}

.logIn-logo {
  margin-bottom: 41px;
}

.logIn input {
  background-color: rgba(216, 215, 215, 0.424);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
}

::placeholder {
  color: rgb(101, 100, 100);
}

.logIn button {
  width: 13.5rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  margin-left: 12px;
  margin-top: 2px;
}

.logIn button img {
  margin-top: 2px;
  margin-bottom: -2px;
  margin-right: 7px;
}

.logIn-btn-name {
  margin-top: 3.5px;
}

.signIn-msg,
.suggestions-msg,
.create-profile-msg,
.edit-profile-msg {
  color: rgb(103, 102, 102);
  font-size: 13px;
  line-height: normal;
  margin-bottom: 11px;
}

.logIn-or {
  color: rgb(160, 158, 158);
  margin-left: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
  display: flex;
}

.or {
  margin-top: 9px;
  padding: 0 3px;
  font-size: 12px;
}

.forgot {
  text-align: right;
  margin: 0px 12px 10px;
  font-size: 12px;
}

.logIn-again {
  font-size: 14px;
  margin-top: 30px;
}

.no-logIn {
  font-size: 14px;
}

.newuser-footer {
  width: 375px;
  display: flex;
  position: fixed;
  bottom: 0px;
  padding: 2px;
  background-color: rgba(176, 175, 175, 0.474);
}

.newuser-footer a {
  padding: 0.25rem;
}

.newuser-about {
  padding-left: 293px;
}

.forgot-input {
  margin-top: 20px;
}

.forgot-header {
  margin-top: -10px;
}

/* PROFILE SETUP & EDIT PROFILE */
.create-profile,
.edit-profile,
#CreateEventContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 15%;
  padding-bottom: 150px;
}

.create-profile h2,
.edit-profile h2,
#CreateEventContainer h2,
.friendslist h2 {
  margin-top: -5px;
  padding-bottom: 11px;
}

.create-profile form input,
.edit-profile form input,
#CreateEventContainer form input {
  background-color: rgba(216, 215, 215, 0.424);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
  width: 98%;
}

.age-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.age-menu select {
  width: 99%;
  height: 25px;
  background-color: rgba(216, 215, 215, 0.424);
  border: none;
  margin-bottom: 1px;
}

.add-activities {
  margin-bottom: 4px;
}

/* HOME VIEW */
.home {
  display: flex;
  justify-content: center;
}

.home-header {
  z-index: 1;
  position: absolute;
  top: 3rem;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  font-size: 45px;
  color: rgba(0, 0, 0, 0.452);
}

.home-popup {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
}

.home-popup p {
  margin-top: -4px;
  margin-bottom: 4px;
  font-size: 15px;
  text-align: justify;
  padding-left: 2px;
}

.home-popup button {
  width: 68%;
  height: 1.25rem;
  margin-bottom: 2px;
  font-size: 12px;
}

/* USER PROFILE */

/* SINGLE EVENT */
.event-single {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10%;
  margin-top: 15%;
  /* margin-bottom: 20px;
  line-height: normal; */
}

.event-single h2 {
  margin-bottom: 1.5rem;
}

.event-single h3 {
  padding: 0;
}

.event-single img {
  border-radius: 50%;
}

.event-single-map {
  width: 100%;
}

table {
  text-align: left;
   margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: 60%;
  border-collapse: collapse;  }

  td {
    border:1px solid #dddddd;
    height: 60px;
    padding: 8px;
  }

  .profileimg {
    margin-bottom: -8px;
    margin-top: -7px;
  }

.center{
  text-align: center;
}

.center h3 {
  font-size: 15px;
margin-top: -2px;
margin-bottom: -10px;
}

.event-single-activity{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.event-single button {
  height: 1.75rem;
  width: 25%;
  margin: 1.5rem 0;
}

.userFlashcard{
  position: absolute;
}

.userInfoDiv {
  background-color: rgba(249, 249, 249, 0.64);
  box-shadow: 0px 0px 20px rgba(29, 27, 26, 0.33);
  border-radius: 25%;
  margin: 0;
  /* min-width: 40%; */
  /* width: 40rem; */
  padding-top: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.userInfoDiv h2 {
  font-size: 16px;
  margin-bottom: 3px;
}

.userInfoDiv h3 {
  padding: 0 15px 0;
  text-align: left;
  font-size: 15px;
}

.interest {
  line-height: 0.5;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.medialinks {
  margin-top: 5px;
}

/* FOOTER & DROP MENU */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.714);
  margin-left: auto;
  margin-right: auto;
}

footer section {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  /* width: 100%; */
}

section img {
  height: 40px;
  width: 40px;
  margin: 0;
}

.footer-addIcon {
  width: 45px;
  height: 43px;
}

.nav-container {
  width: 50px;
  height: 50px;
}

.nav-trigger img {
  height: 40px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  padding-right: 3px;
}

.nav-dropdown {
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.nav-dropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.nav-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.nav-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

/* CENTER CONTENTS IN DROP MENU */
/* .nav-dropdown ul a{
    display: flex;
    flex-direction: column;
    align-content: center;
  } */

.nav-dropdown ul li {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.nav-dropdown ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.nav-dropdown ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.nav-dropItem {
  display: flex;
  margin: 10px auto;
}

.nav-dropItem img {
  /* max-width: 30px;
    max-height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed); */
}

/* ABOUT VIEW */
.about {
  background-image: url("https://i.ibb.co/pKgd7BG/NFIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-attachment: fixed;
  padding-bottom: 1rem;
}

.aboutIntro {
  text-align: justify;
  font-size: 45px;
  line-height: 200%;
  margin: 0 0.5px 35px;
}

.aboutDescription {
  text-align: justify;
  margin: 0 4px 60px;
  font-size: 20px;
}

.creatorNotes {
  text-align: center;
}

.creator {
  margin: 1.5rem;
  padding: 1rem;
  background-color: rgba(249, 249, 249, 0.64);
  box-shadow: 0px 0px 20px rgba(29, 27, 26, 0.33);
  margin-bottom: 3rem;
}

.creator-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  box-shadow: 3px 3px 7px #4744449a;
}

.creatorContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
}

/* HELP VIEW */
/* .help {
  height: 667px;
  background-image: url("https://i.ibb.co/pKgd7BG/NFIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-attachment: fixed;
} */

/* SUGGESTIONS VIEWS */
.suggestions {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 15%;
}

.suggestions-header {
  line-height: 0.8;
  margin-bottom: 15px;
}

.suggestions img {
  margin-bottom: -15px;
}

.suggestions input {
  background-color: rgba(216, 215, 215, 0.424);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
  width: 98%;
}

.suggestions textarea {
  background-color: rgba(216, 215, 215, 0.424);
  width: 98%;
  height: 85px;
  border: none;
}

.suggestions h3,
.create-profile h3,
.edit-profile h3,
#CreateEventContainer h3 {
  /* margin: 0; */
  padding: 10px 0px 0px 3px;
  text-align: left;
  font-size: 15px;
}

.suggestions button,
.create-profile button,
.edit-profile button,
#CreateEventContainer button {
  width: 98%;
  height: 1.75rem;
}
