* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Optima, sans-serif;
}

/* CHOOSE FONT FOR ENTIRE APP or 1 FOR TITLE, 1 FOR TEXT */
/* Didot, serif; */

body {
  max-width: 375px;
  max-height: 667px;
}

a:link {
  margin: 0%;
  padding: 0%;
}

ul {
  list-style: none;
}

/* SIGN UP/IN VIEWS */
.logIn {
  text-align:center;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 50%;
}

.logIn input {
  background-color: rgba(216, 215, 215, 0.424);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
}

::placeholder { 
  color: rgb(101, 100, 100);
}

.logIn button {
  width: 13.5rem;
  height: 1.75rem;
}

.logIn button img{
  margin-top: 2px;
  margin-bottom: -2px;
}

.logInGoogle{
  margin-top: 43px;
}

.signIn-msg{
  color: rgb(103, 102, 102);
  font-size: 13px;
  line-height: normal;
  margin-bottom: 11px;
}

.logIn-or{
  color: rgb(160, 158, 158);
  margin-left: 28px;
  margin-bottom: 15px;
display: flex;
}

.or {
  margin-top: 9px;
  padding: 0 3px;
  font-size: 12px;
}

.forgot {
  text-align: right;
  margin: 0px 12px 10px;
  font-size: 12px;
}

.logIn-again {
  font-size: 14px;
  margin-top: 30px;
}

.no-logIn {
  font-size: 14px;
}

.newuser-footer {
  width: 375px;
  display: flex;
  position: absolute;
  bottom: 0px;
  padding: 2px;
  background-color: rgba(176, 175, 175, 0.284);
}

.newuser-footer a {
  padding: .25rem;
}

.newuser-about {
    padding-left: 293px;
}

/* HOME VIEW */
.home{
  display: flex;
  justify-content: center;
}

.home-header{
  z-index: 1;
   position: absolute;
   top: 3rem;
   text-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-size: 45px;
    color: rgba(0, 0, 0, 0.452);
  }

/* FOOTER & DROP MENU */
footer {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.714);
}

footer section {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
}

section img {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.footer-addIcon {
  width: 45px;
  height: 43px;
}

.nav-container {
  width: 50px;
  height: 50px;
}

.nav-trigger img {
  height: 40px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  padding-right: 3px;
}

.nav-dropdown {
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.nav-dropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.nav-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.nav-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

/* CENTER CONTENTS IN DROP MENU */
/* .nav-dropdown ul a{
    display: flex;
    flex-direction: column;
    align-content: center;
  } */

.nav-dropdown ul li {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.nav-dropdown ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.nav-dropdown ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.nav-dropItem {
  display: flex;
  margin: 10px auto;
}

.nav-dropItem img {
  /* max-width: 30px;
    max-height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed); */
}

/* ABOUT VIEW */
.about {
  background-image: url("https://i.ibb.co/pKgd7BG/NFIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-attachment: fixed;
  padding-bottom: 1rem;
}

.aboutIntro {
  text-align: justify;
  font-size: 45px;
  line-height: 200%;
  padding: 0 0 35px;
}

.aboutDescription {
  text-align: justify;
  padding-bottom: 60px;
  font-size: 20px;
}

.creatorNotes {
  text-align: center;
}

.creator {
  margin: 1.5rem;
  padding: 1rem;
  background-color: rgba(249, 249, 249, 0.64);
  box-shadow: 0px 0px 20px rgba(29, 27, 26, 0.33);
  margin-bottom: 3rem;
}

.creator-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  box-shadow: 3px 3px 7px #4744449a
}

.creatorContact {
display: flex;
justify-content: space-around;
align-items: center;
padding-top: .5rem;
}