* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Optima, sans-serif;
  /* cursor: pointer; */
}

/* CHOOSE FONT FOR ENTIRE APP or 1 FOR TITLE, 1 FOR TEXT */
/* Didot, serif; */

body {
  /* max-width: 100%;
  max-height: 100%; */
  background-image: radial-gradient( rgba(255, 26, 91, 0.479), rgba(202, 31, 249, 0.284),rgba(0, 204, 255, 0.865));
  background-repeat: repeat;
  background-size: 100%;
}

.space {
  width: 100%;
  height: 4rem;
}


a:link {
  margin: 0%;
  padding: 0%;
}

ul {
  list-style: none;
}

/* SIGN UP/IN & RESET VIEWS */
.logIn {
  text-align: center;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 15%;
}

.logIn-logo {
  margin-bottom: 41px;
}

.logIn input {
  background-color: rgba(216, 215, 215, 0.729);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
}

::placeholder {
  color: rgb(101, 100, 100);
}

.logIn button {
  width: 13.5rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  margin-left: 12px;
  margin-top: 2px;
  border: none;
  background-color:  rgba(0, 183, 255, 0.892);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.logIn a{
  color:  rgb(61, 0, 192);
  font-weight: bold;
  text-shadow: 2px 2px 2px  rgba(36, 176, 246, 0.701);
}

.logIn button img {
  margin-top: 2px;
  margin-bottom: -2px;
  margin-right: 7px;
}

.logIn-btn-name {
  margin-top: 3.5px;
}

.signIn-msg,
.suggestions-msg,
.create-profile-msg,
.edit-profile-msg, .event-edit-msg, .eventlist-msg, .create-event-msg, .help-msg {
  color: rgb(104, 102, 102);
  font-size: 13px;
  line-height: normal;
  margin-bottom: 11px;
  font-weight: bold;
}

.logIn-or {
  color: rgb(160, 158, 158);
  margin-left: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
  display: flex;
}

.or {
  margin-top: 9px;
  padding: 0 3px;
  font-size: 12px;
}

.forgot {
  text-align: right;
  margin: 0px 12px 10px;
  font-size: 12px;
}

.logIn-again {
  font-size: 14px;
  margin-top: 30px;
}

.no-logIn {
  font-size: 14px;
}

.newuser-footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0px;
  padding: 2px;
  background-color: rgba(247, 32, 157, 0.474);
}

.newuser-footer a {
  padding: 0.25rem;
  color: rgb(0, 140, 255);
}

.newuser-about {
  /* padding-left: 293px; */
}
.newuser-help {
/* padding-right: -200px; */
}

.forgot-input {
  margin-top: 20px;
}

.forgot-header {
  margin-top: -10px;
}

/* SETUP/CREATE PROFILE & PROFILE/EVENT EDIT*/
.create-profile,
.edit-profile,
#CreateEventContainer, .event-edit, .friendslist  {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 23rem;
  margin-top: 15%;
  /* padding-bottom: 3rem; */
}

.create-profile h2,
.edit-profile h2,
#CreateEventContainer h2,
.friendslist h2, .event-edit h2, .eventlist-h2, .friendslist h2, .help h2, .suggestions h2, .event-single h2 {
  margin-top: -5px;
  padding-bottom: 11px;
  color: white;
  text-shadow: 1px 1px 3px rgb(0, 81, 255), 0 0 1em rgb(251, 44, 99), 0 0 0.5em rgb(255, 0, 221);
  font-size: 30px;
}

.create-profile form input,
.edit-profile form input,
#CreateEventContainer form input, .event-edit form input {
  background-color: rgba(216, 215, 215, 0.579);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
  width: 98%;
}

.age-menu, .activity-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.age-menu select, .activity-menu select {
  width: 99%;
  height: 25px;
  background-color: rgba(216, 215, 215, 0.493);
  border: none;
  margin-bottom: 1px;
}

.add-activities {
  margin-bottom: 4px;
}

.btnadjust {
  margin-top: 2px;
}
/* adjust text with drop menus under */
/* .adjust {
  margin-bottom: 20px;
} */




/* PROFILE VIEW */
.profileView{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 23rem;
  margin-top: 15%;
  font-size: 15px;
  /* padding-bottom: 3rem; */
}

.profileView-user{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px #0f7bd9f1;
}

.profileView-img p{
  font-size: 13px;
}

.profileView-img img{
  border-radius: 50%;
  box-shadow: 3px 3px 7px #034c8dac;
}
.profileView-name h3{
  margin-top: -15px;
padding-bottom: 15px;
color: white;
text-shadow: 1px 1px 3px rgb(0, 81, 255), 0 0 1em rgb(251, 44, 99), 0 0 0.5em rgb(255, 0, 221);

}

.profileView-name button {
  height: 1.5rem;
  width: 10rem;
  margin-bottom: 2px;
  border: none;
  background-color:  rgba(0, 183, 255, 0.892);
  color: white;
  text-shadow: 1px 1px 2px black;
}

hr {
  border-top: .5px solid rgba(128, 128, 128, 0.266);
  margin: 25px 0;
  width:100%;
  padding: 0 20px
}

.profileView-activities {
  display: flex;
  justify-content: space-around;
}

.profileView-activities strong {
  color: white;
  text-shadow: .25px .25px 3px #0f7bd9f1;
}

.profileView .medialinks {
  margin-top: -7px;
}



/* HOME VIEW */
.home {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.home-header {
  z-index: 1;
  position: fixed;
  top: 3rem;
  text-shadow: 1px 1px 3px rgb(0, 85, 255), 0 0 1em rgb(251, 44, 99), 0 0 0.5em rgb(255, 0, 221);  font-size: 45px;
  color: rgba(248, 245, 245, 0.895);
}

.home-popup {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
}

.home-popup h2 {
  color: rgb(24, 151, 248);
  text-shadow: .5px .5px 3px rgb(248, 11, 86);
  margin-bottom: 4px;
  font-size: 18px;
 
}

.home-popup p {
  margin-top: -4px;
  margin-bottom: 4px;
  font-size: 15px;
  text-align: justify;
  padding-left: 2px;
}

.home-popup button {
  width: 68%;
  height: 1.25rem;
  margin-bottom: 2px;
  font-size: 12px;
}

/* SINGLE EVENT */
.event-single {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10%;
  margin-top: 15%;
}

.event-single h2 {
  margin-bottom: 1.5rem;
}

.event-single h3 {
  padding: 0;
}

.event-single-map {
  width: 100%;
}

table {
  text-align: left;
   margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: 60%;
  border-collapse: collapse;  }

  td {
    border:1px solid #dddddd;
    height: 60px;
    padding: 8px;
  }

  .profileimg {
    margin-bottom: -8px;
    margin-top: -7px;
    border-radius: 50%;
    box-shadow: 3px 3px 7px #034c8dac;
  }

.center{
  text-align: center;
}

.center h3 {
  font-size: 15px;
margin-bottom: -10px;
}

.event-single-activity{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.event-single button {
  height: 1.75rem;
  width: 25%;
  margin: 1.5rem 0;
  border: none;
  background-color:  rgba(0, 183, 255, 0.892);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.userFlashcard{
  position: absolute;
  width: 40%;
    line-height: 1;
}

.userInfoDiv {
  background-color: rgba(249, 249, 249, 0.933);
  box-shadow: 0px 0px 20px rgba(29, 27, 26, 0.33);
  border-radius: 10%;
  margin: 0;
  padding-top: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.userInfoDiv h2 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
}

.userInfoDiv img {
  border-radius: 50%;
  box-shadow: 3px 3px 7px #034c8dac;
}

.userInfoDiv h3 {
  padding: 0 15px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 3px;
}

.userInfoDiv h4 {
  font-size: 16px;
}

.interest {
  font-size: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3px;
}

.medialinks {
  margin-top: 5px;
}




/* EVENT LIST */
.eventlist {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 23rem;
  margin-top: 15%;
}

.eventlist-card {
  margin: 1.5rem;
  padding: 1rem;
  background-color: rgba(249, 249, 249, 0.64);
  box-shadow: 0px 0px 20px rgba(29, 27, 26, 0.33);
}

.eventlist-card h2, .requestedEvents h2 {
  font-size: 16px;
  margin-bottom: 5px;
  padding: 0;
  font-weight: bold;
}

.requestedEvents .time {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 8px;
}

.eventlist-requestMsg {
  color: rgb(104, 102, 102);
  font-size: 13px;
  line-height: normal;
  margin-bottom: 11px;
}

.eventlist button {
  height: 1.5rem;
  width: 4.5rem;
  margin: 8px 2px 8px 0px;
  border: none;
  background-color:  rgba(0, 183, 255, 0.892);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.eventhr {
  margin: -0 0 5px 0
}

.attendeeInformation {
  display: flex;
  justify-content: space-around;
}

.attendeeProfile img {
  margin-top: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px  #0505057c;
}

.accept-reject {
  margin-top: 20px;
}

.accept-reject button, .friendslist button {
 border: none;
 background-color: transparent;
 box-shadow: 0px 0px 0px black;
 margin-right: 3px;
}

.accept-reject button:hover, .friendslist button:hover {
  filter: grayscale(100%)
}

.newfriend {
  margin: 1.5rem 20%;
  padding: 1rem;
  background-color: rgba(249, 249, 249, 0.64);
  box-shadow: 3px 3px 7px #034c8dac;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.newfriend p{
 margin-bottom: 5px;
}




/* FOOTER & DROP MENU */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 43px;
  background-image: linear-gradient(to right, rgb(255, 0, 89) , rgba(0, 170, 255, 0.746));
  margin-left: auto;
  margin-right: auto;
}

footer section {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}

section img {
  height: 40px;
  width: 40px;
  margin: 0;
}

.footer-addIcon {
  width: 45px;
  height: 43px;
}
/* footer drop menu */
.nav-container {
  width: 50px;
  height: 50px;
}

.nav-trigger img {
  height: 40px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  padding-right: 3px;
}

.nav-dropdown {
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.931);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  text-align: center;
}

.nav-dropdown button {
  border: none;
  background-color: rgba(17, 171, 248, 0.85);
  border-radius: 50%;
  /* font-weight: bold; */
  box-shadow: 0px 0px 8px .5px rgb(255, 0, 76);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.nav-dropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.nav-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.nav-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  line-height: 1.2rem;
}

h3 span {
  font-size: 15px;
 font-weight: bold;
 color: rgb(24, 151, 248);
 text-shadow: 1px 1px 2px rgb(248, 11, 86);
}

.nav-dropdown ul a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(246, 18, 83);
  }

.nav-dropdown ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
}

.nav-dropdown ul li:hover a {
  /* color: rgb(212, 33, 9); */
  cursor: pointer;
}

.nav-dropdown ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.nav-dropItem {
  display: flex;
  margin: 10px auto;
}

.nav-dropItem img {
  /* max-width: 30px;
    max-height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed); */
}

/* ABOUT VIEW */
.about{
  background-image: url("https://i.ibb.co/pKgd7BG/NFIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}

.aboutIntro {
  text-align: justify;
  font-size: 45px;
  line-height: 200%;
  margin: 0 0.5px 35px;
  color: white;
  text-shadow: 1px 1px 3px rgb(0, 81, 255), 0 0 1em rgb(251, 44, 99), 0 0 0.5em rgb(255, 0, 221);}

.aboutDescription {
  text-align: justify;
  margin: 0 4px 60px;
  font-size: 20px;
}

.creatorNotes {
  text-align: center;
}

.creatorNotes h2 {
  text-shadow: 1px 1px 3px rgb(0, 81, 255), 0 0 1em rgb(251, 44, 99), 0 0 0.5em rgb(255, 0, 221);
  color: white;
}

.creator {
  margin: 1.5rem 18%;
  padding: 1rem;
  background-color: rgba(249, 249, 249, 0.64);
  box-shadow: 0px 0px 30px rgb(0, 162, 255);
}

.creator-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  box-shadow: 3px 3px 7px rgba(0, 136, 255, 0.643);
}

.creatorContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
}

.creatorContact h2 {
  color: rgb(255, 0, 106);
  text-shadow: 1px 1px 5px rgb(0, 136, 255)
}

/* HELP VIEW */
.help {
  height: 667px;
  background-image: url("https://i.ibb.co/pKgd7BG/NFIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-attachment: fixed;
}

.help-container {
  margin-top: 10%;
padding-bottom: 3rem;
}

.help h2, .help-msg {
  text-align: center;
}

.help p{
  padding-bottom: 5px;
}


/* SUGGESTIONS VIEWS */
.suggestions {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 15%;
}

.suggestions-header {
  line-height: 0.8;
  margin-bottom: 15px;
}

.suggestions img {
  margin-bottom: -15px;
}

.suggestions input {
  background-color: rgba(216, 215, 215, 0.424);
  padding: 5px;
  margin-bottom: 2px;
  border: none;
  width: 98%;
}

.suggestions textarea, .event-edit textarea {
  background-color: rgba(216, 215, 215, 0.424);
  width: 98%;
  height: 85px;
  border: none;
  padding: 0 3px;
}

.suggestions h3,
.create-profile h3,
.edit-profile h3,
#CreateEventContainer h3, .event-edit h3{
  /* margin: 0; */
  padding: 10px 0px 0px 3px;
  text-align: left;
  font-size: 15px;
}

.suggestions button,
.create-profile button,
.edit-profile button,
#CreateEventContainer button, .nav-dropdown button, .event-edit button, .home button, .userInfoDiv button {
  width: 98%;
  height: 1.75rem;
  border: none;
  background-color:  rgba(0, 183, 255, 0.892);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.suggestions button input {
  border: none;
  color: white;
  text-shadow: 1px 1px 2px black;
  background-color:  rgba(0, 183, 255, 0.892);
}

/* ERROR VIEW */
.error {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.error img {
border-radius: 25%;
box-shadow: 0px 0px 35px 4px rgb(0, 0, 0);

}

.error button {
  height: 1.5rem;
padding: 0 5px;
margin-top: 1rem;
}